/* dark background color: #242224 */
/* light text color: #D6CFC5 */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242224;
  color: #d6cfc5;
  font-family: "DM Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* --------- Slider ----------- */
li {
  list-style-type: none;
}

.Slider {
  margin: 5%;
  width: 50%;
  /* height: 1000px; */
}

/* --------- SearchForm ----------- */
.search-form {
  text-align: center;
}

.search-form-div {
  display: inline-block;
}

.search-form input {
  float: left;
  appearance: none;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #d6cfc5;
  font-size: 17px;
  padding: 10px 15px;
  font-weight: 100;
  display: block;
  color: #d6cfc5;
}

.search-form input[type="text"] {
  width: 500px;
}

.search-form input[type="submit"] {
  margin-left: 20px;
}

.search-form input:focus {
  outline: none;
}

/* --------- LogInForm ----------- */

.login-form input {
  appearance: none;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #d6cfc5;
  font-size: 17px;
  padding: 10px 15px;
  font-weight: 100;
  display: block;
  color: #d6cfc5;
}

.login-form input:focus {
  outline: none;
}

.login-form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #d6cfc5;
  color: #242224;
}

/* --------- SignUpPage ----------- */
.signup-form {
  float: right;
  margin-right: 10%;
  margin-bottom: 10%;
}

.signup-form input {
  appearance: none;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #d6cfc5;
  font-size: 17px;
  padding: 10px 15px;
  font-weight: 100;
  display: block;
  color: #d6cfc5;
}

.signup-form input:focus {
  outline: none;
}

.signup-form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #d6cfc5;
  color: #242224;
}

/* --------- NavBar ----------- */
.navbar {
  margin: 20px;
}

.navbar a {
  margin-left: 50px;
  padding: 8px 0;
  color: #d6cfc5;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 120%;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s;
}

.navbar .navbar-logo {
  display: inline;
  margin: 20px;
  text-transform: none;
  font-size: 400%;
}

.navbar-list {
  float: right;
  list-style: none;
  margin: 20px;
}

.navbar-list a.current,
.navbar-list a:hover {
  border-bottom: 1px solid #f14b31;
}

/* --------- ArtworksList ----------- */
.artworks-list-div {
  margin: 3% 10%;
}

/* --------- ArtworkCard ----------- */
.artwork-card {
  text-decoration: none;
}

.artwork-card img {
  max-width: 300px;
  max-height: 500px;
}

.artwork-card-default {
  width: 300px;
  height: 200px;
  background: rgb(209, 170, 170);
  display: flex;
  justify-content: center;
  align-items: center;
}

.artwork-card-default div {
  color: white;
}

/* --------- ArtworkPage ----------- */
.artwork-page {
  margin: 3% 20%;
}

.artwork-page img {
  max-width: 500px;
}
