/* dark background color: #242224 */
/* light text color: #D6CFC5 */
/* red highlights & error color: #f14b31 */

/* --------- General/Global ----------- */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #d6cfc5;
  font-family: "DM Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Usually under input tags */
.error {
  color: #f14b31;
  font-size: 12px;
  margin: -2px auto 6px 4px;
}

/* --------- Breakpoints & Media queries ----------- */
/* (default)	Mobile-portrait
min-width: 480px	Mobile-landscape (and larger)
min-width: 768px	Tablet-portrait (and larger)
min-width: 992px	Tablet-landscape (and larger)
min-width: 1200px	Laptops (and larger) */

/* Apply styles on 768.02px and above */
/* 768.02px so that iPad displays according to query specified with max-width: 768px  */
@media screen and (min-width: 768.02px) {
  .hide-on-larger {
    display: none !important;
  }
}

/* Apply styles on 768px and below */
@media screen and (max-width: 768px) and (min-width: 0px) {
  .hide-on-smaller {
    display: none !important;
  }

  .main-page {
    flex-direction: column;
  }
}

/* --------- MainPage ----------- */
.main-page {
  display: flex;
  align-items: center;
}

.main-page__right {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.main-page__logged-in {
  text-align: center;
}

.main-page__welcome {
  margin-bottom: 2rem;
  font-size: 20px;
}

.main-page__favorites {
  text-decoration: none;
  color: #d6cfc5;
}

.main-page__favorites:hover {
  border-bottom: 1px solid #f14b31;
}

.slider-div {
  flex: 1;
}

/* --------- Slider ----------- */
li {
  list-style-type: none;
}

.Slider {
  margin-left: 8%;
  margin-top: 5%;
  width: 50%;
}

@media screen and (max-width: 768px) and (min-width: 0px) {
  .Slider {
    margin-left: 0;
    width: 90%;
  }
}

/* --------- SearchForm ----------- */
.search-form {
  text-align: center;
}

.search-form-div {
  display: inline-block;
}

.search-form input {
  float: left;
  appearance: none;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #d6cfc5;
  font-size: 17px;
  padding: 10px 15px;
  font-weight: 100;
  display: block;
  color: #d6cfc5;
}

.search-form input[type="text"] {
  min-width: 300px;
}

.search-form input[type="submit"] {
  margin-left: 10px;
}

.search-form input:focus {
  outline: none;
}

.search-form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #d6cfc5;
  color: #242224;
}

/* --------- LoginPage ----------- */
.login-page {
  max-width: 350px;
  display: flex;
  margin: auto;
  flex-flow: column;
}

/* --------- LoginForm ----------- */
.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  appearance: none;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #d6cfc5;
  font-size: 17px;
  padding: 10px 15px;
  width: 20rem;
  font-weight: 100;
  display: block;
  color: #d6cfc5;
  margin: 5px auto;
}

.login-form input:focus {
  outline: none;
}

.login-form input[type="submit"] {
  margin-top: 1rem;
  float: right;
  width: 8rem;
}

.login-form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #d6cfc5;
  color: #242224;
}

/* --------- LoginPage ----------- */
.sign-up-option {
  margin: 1rem auto;
}

.sign-up-option a {
  color: #d6cfc5;
  text-decoration: none;
  font-weight: 800;
}

/* --------- SignUpPage ----------- */
.signup-page {
  max-width: 350px;
  display: flex;
  margin: auto;
  flex-flow: column;
}

.signup-form input {
  appearance: none;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #d6cfc5;
  font-size: 17px;
  padding: 10px 15px;
  width: 20rem;
  font-weight: 100;
  display: block;
  color: #d6cfc5;
  margin: 5px auto;
}

.signup-form input:focus {
  outline: none;
}

.signup-form input[type="submit"] {
  margin-top: 2rem;
  width: 22rem;
}

.signup-form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #d6cfc5;
  color: #242224;
}

/* --------- NavBar ----------- */
.navbar {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .navbar-logo {
  display: inline;
  margin: 10px;
  text-transform: none;
  font-size: 300%;
}

.navbar a,
.navbar__list a {
  margin-left: 50px;
  padding: 8px 0;
  color: #d6cfc5;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 110%;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s;
}

.navbar__list {
  list-style: none;
  margin: 20px;
}

.navbar__list a.current,
.navbar__list a:hover {
  border-bottom: 1px solid #f14b31;
}

.navbar__bars-icon {
  font-size: 25px;
  float: right;
  cursor: pointer;
}

.navbar__expanded {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 80%;
  margin: -25px 25px 20px;
}

.navbar__expanded--hidden {
  display: none;
}

/* --------- ArtworksList ----------- */
#artworks-list {
  margin: 3% 10%;
}

.load-more-artworks {
  display: flex;
  justify-content: center;
}

.load-more-artworks button {
  appearance: none;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #d6cfc5;
  font-size: 17px;
  padding: 10px 30px;
  font-weight: 100;
  display: block;
  color: #d6cfc5;
  margin: 2rem auto;
}

.load-more-artworks button:hover {
  cursor: pointer;
  background-color: #d6cfc5;
  color: #242224;
}

/* --------- ArtworkCard ----------- */
.artwork-card {
  text-decoration: none;
  position: absolute;
}

.artwork-card img {
  max-width: 300px;
  max-height: 500px;
}

.artwork-card__default {
  width: 300px;
  height: 200px;
  background: rgb(209, 170, 170);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.artwork-card__default div {
  color: white;
}

/* layer to show like button on hover over artwork card */
.artwork-card--hovered {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(136, 102, 102);
  transition: 0.3s;
  opacity: 0.7;
}

/* heart icon/button */
.artwork-card__heart {
  font-size: 40px;
  color: #d6cfc5;
  position: absolute;
  /* center heart icon */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* --------- ArtworkPage ----------- */
.artwork-page {
  margin: 10px 10%;
}

.artwork-page img {
  max-width: 500px;
}

.artwork-pic-default {
  width: 500px;
  height: 600px;
  background: rgb(209, 170, 170);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 768px) and (min-width: 0px) {
  .artwork-page img {
    width: 90%;
  }

  .artwork-pic-default {
    width: 90%;
    height: 200px;
  }
}
/* --------- FavoritesPage ----------- */
.favorites-page {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
